/* ITCSS Architecture:
 *
 * By Vitaliy Kirenkov.
 *
 * 1. Settings   (Global project settings and variables)
 * 2. Tool's     (Mixins, function and etc which DO NOT produce css)
 * 3. Generic    (Reset and/or normalize styles, box-sizing definition, etc.)
 * 4. Elements   (Basic CSS for common HTML elements (unclassed HTML elements))
 * 5. Objects    (Global object assessed within application)
 * 5. Components (Component-specific CSS for components)
 * 6. Trumps     (Overriders and helpers for usage in DOM model)
 */

/*------------------------ SETTINGS ------------------------*/
$color-white: #fefefe;
$color-black: #000000;
/*------------------------ / SETTINGS ------------------------*/


/*------------------------ TOOLS ------------------------*/
@mixin fsi ($fontSize, $lineHeight, $context: 10) {
	font-size: $fontSize/$context + em;
	line-height: $lineHeight/$fontSize + em;
}
@mixin clearfix () {
    &:after {
        display: table;
        clear: both;
        content: '';
    }
}
/*------------------------ / TOOLS ------------------------*/


/*------------------------ GENERIC ------------------------*/
img {
	border: none;
}

p {
	margin: 1em 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

a {
	outline: none;

	&:hover {
		text-decoration: none;
	}
}

form {
	margin: 0;
	padding: 0;
}

input, textarea, select, button {
	font-family: Arial, Helvetica, sans-serif;
}

input, textarea, select {
	background-color: $color-white;
	outline: none;
}

textarea {
	resize: none;
	overflow: auto;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
/*------------------------ / GENERIC ------------------------*/


/*------------------------ ELEMENTS ------------------------*/
html,
body {
	height: 100%;
	min-height: 100%;
	position: relative;
}

html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 1000px;
	background-color: $color-white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	color: $color-black;
}
/*------------------------ / ELEMENTS ------------------------*/


/*------------------------ TRUMPS ------------------------*/
.list-null {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hidden {
	display: none;
}
/*------------------------ / TRUMPS ------------------------*/


/*------------------------ GENERAL ------------------------*/
.main-outer {
	position: relative;
	height: 100%;
	min-height: 100%;
	z-index: 1;
}
.footer-outer {
	position: absolute;
	z-index: 2;
	right: 0;
	bottom: 0;
	left: 0;
}

.main-inner,
.footer-inner {
	width: 1000px;
	margin: 0 auto;

	html > body & {
		height: auto;
	}
}

.main-inner {
	padding-bottom: 100px;
}
/*------------------------ / GENERAL ------------------------*/
